<%- include ./partials/header.ejs %>
<div class="grid-container">
  <div class="container-1">
    <div class="player">
      <div class="welcome">
        <img src="https://media.discordapp.net/attachments/505452573373759508/506278399900123136/logo_2.png" width="300">
      </div>
      <div class="musicPlayer">
          <div><img src="https://melbournechapter.net/images/dj-khaled-clipart.gif" <="" img="" style="
            margin-top: -45px;
            width: 200px;
            position: absolute;
            margin-left: 2-px;
            margin-left: 25px;
        "></div>
       <div> <audio id="player" controls="" style="
        padding-top: 150px;
        padding-right: 50px;
    "><source id="source" src="http://procyon.shoutca.st:8700/stream" type="audio/mpeg"></audio></div>
    </div>
    <div class="danceFloor">
      <h1>Dancefloor</h1>
      <%- include ./danceFloor.ejs %>
    </div>
  </div>
  <div class="container-2">
    <div class="greetings">
      <div class="row">
        <div class="col-sm-3">
          <h1>Поздрави</h1>
        </div>
        <div class="col-sm-2 mt-1">
          <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Изпрати поздрав.</button>
        </div>
        <%- include ./greetingsModal.ejs %>
      </div>
      <p id="greeting_message">Вмомента няма поздрави. </p>
    </div>
    <div class="schedule">
      <h1>Програма</h1>
      <ul>
        <li>Понеделник: Поп-фолк</li>
        <li>Вторник: Поп-Фолк</li>
        <li>Сряда: Black Party</li>
        <li>Четвъртак: Rock Party</li>
        <li>Петък: Поп-Фолк</li>
        <li>Събота: Mix Party</li>
        <li>Неделя: House Party</li>
      </ul>
    </div>
    <div class="chat">
      <h1>Онлайн Чат</h1>
      <%-include ./chat.ejs%>
    </div>
  </div>
</div>
<%- include ./partials/footer.ejs %>
